<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New offer</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  </head>
  <body style="padding-top:3rem;padding-bottom:3rem;background-color:#F5F5F5;">
    <div style="color:#555555;">
      <div style="background-color:#ffffff;font-family:Lato;width:95%;max-width:34rem;margin:0 auto;padding:2rem;border-top-left-radius:15px;border-top-right-radius:15px;">
        <img src="https://s3-eu-west-1.amazonaws.com/engine-hosted/new-offer.jpg" style="width:25rem;" />
        <br />
        <br />
        <div style="height:1px;background-color:lightgrey;"></div>
        <br />
        <br />
        <div style="font-size:1.25rem;">Hey there!</div>
        <br />
        <br />
        <div style="font-size:1rem;">You've received an offer to work on the project, '<%= @codename %>'</div>
        <br />
        <br />
        <div style="font-size:1rem;">To review the offer, start with your free Engine account:</div>
        <br />
        <br />
        <div style="text-align:center;">
          <a style="text-decoration:none;margin:0 auto;" href="<%= @url %>">
            <div style="background-color:#757de8;display:inline-block;padding:1rem;border-radius:5px;color:#ffffff;font-size:1rem;">CREATE MY ACCOUNT</div>
          </a>
        </div>
        <br />
        <br />
        <div style="font-size:1rem;color:rgb(255, 114, 92);">To accept an offer, where applicable, you'll need:</div>
        <br />
        <ul style="list-style-type:circle;">
          <li style="color:rgb(153, 153, 153);font-size:1rem;">Digital copies of your passport, P45, equipment list, etc</li>
          <br />
          <li style="color:rgb(153, 153, 153);font-size:1rem;">Your bank details, NI number and company information</li>
        </ul>
        <br />
        <div style="color:rgb(153, 153, 153);font-size:1rem;padding-left:1.5rem;padding-right:1.5rem;">(If you complete the form on a mobile device, you can take photos of documents, if you don’t have scans)</div>
        <br />
        <br />
        <br />
        <div style="height:1px;background-color:lightgrey;"></div>
        <br />
        <br />
        <div style="font-size:1.2rem;color:#757de8;">Keep your info in Engine, to join projects easily!</div>
      </div>
      <div style="background-color:#525252;font-family:Lato;width:95%;max-width:34rem;margin:0 auto;padding:2rem;border-bottom-left-radius:15px;border-bottom-right-radius:15px;">
        <a style="text-decoration:none;" href="www.teamengine.co.uk">
          <img src="https://s3-eu-west-1.amazonaws.com/engine-hosted/footer-logo.png" style="width:12rem;display:inline-block;" />
        </a>
        <div style="color:#9e9e9e;float:right;padding-top:0.75rem;">
          <a href="mailto:info@teamengine.co.uk" style="color:#9e9e9e;font-size:0.8rem;text-decoration:none;">contact</a>
          <div style="width:1px;background-color:#9e9e9e;height:10px;display:inline-block;margin-left:0.25rem;margin-right:0.25rem"></div>
          <a href="https://engineplans.formstack.com/forms/enginesupport" target="_blank"    title="help" style="color:#9e9e9e;font-size:0.8rem;text-decoration:none;">help</a>
          <div style="width:1px;background-color:#9e9e9e;height:10px;display:inline-block;margin-left:0.25rem;margin-right:0.25rem"></div>
          <a href="https://karmaradio.herokuapp.com/terms"    title="Terms" style="color:#9e9e9e;font-size:0.8rem;text-decoration:none;">terms</a>
          <div style="width:1px;background-color:#9e9e9e;height:10px;display:inline-block;margin-left:0.25rem;margin-right:0.25rem"></div>
          <a href="https://karmaradio.herokuapp.com/privacy"  title="Privacy" style="color:#9e9e9e;font-size:0.8rem;text-decoration:none;">privacy</a>
        </div>
      </div>
    </div>
  </body>
</html>
