Hi,

Somebody requested for your Engine password to be reset.

If that was expected, please continue.

If not, ensure you email account is secure.

Please follow this link <%= @url %> to reset your account password

Keep your password safe, and your profile secure.

Team Engine
