<h3>Hi,</h3>
<br />
<div>Somebody requested for your Karma password to be reset.</div>
<br />
<div>If that was expected, please continue.</div>
<br />
<div>If not, ensure you email account is secure.</div>
<br />
<div>Please <a href="<%= @url %>">CLICK HERE</a> to reset your account password</div>
<br />
<div class="k-light-indigo">Keep your password safe, and your profile secure.</div>
<br />
<div class="k-indigo">Team Karma</div>
