Hi <%= @first_name %>,

An additional step to ensure your security:

Please  vistit this link: <%= @url %> to verify your email address.

Then start adding to your new Engine profile.

Happy to have you join us!

Team Engine
