<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Verify</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <style>
      body {
        padding-top:3rem;
        padding-bottom:3rem;
        background-color:#F5F5F5;
      }
      .button {
        background-color:#757de8;
        display:inline-block;
        padding:1rem;
        border-radius:5px;
        color:#ffffff;
        font-size:1rem;
      }
      .auto-margin {
        margin:0 auto;
      }
      .center {
        text-align:center;
      }
      .container {
        color:#555555;
      }
      .content-container {
        background-color:#ffffff;
        font-family: Lato;
        width:34rem;
        margin:0 auto;
        padding:3rem;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
      }
      .content-text {
        font-size:1rem;
      }
      .footer-container {
        background-color:#525252;
        font-family:Lato;
        width:34rem;
        margin:0 auto;
        padding-right:3rem;
        padding-left:3rem;
        padding-top:2rem;
        padding-bottom:2rem;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
      }
      .footer-link-container {
        color:#9e9e9e;
        float:right;
        padding-top:0.75rem;
      }
      .footer-link {
        color:#9e9e9e;
        text-decoration:none;
        font-size:0.8rem;
      }
      .footer-link-spacer {
        width:1px;
        background-color:#9e9e9e;
        height:10px;
        display:inline-block;
        margin-left:0.25rem;
        margin-right:0.25rem
      }
      .footer-logo {
        width:12rem;
        display:inline-block;
      }
      .goodbye {
        font-size:1.2rem;
        color:#757de8;
      }
      .greeting {
        font-size:1.25rem;
      }
      .horizontal-divider {
        height:1px;
        background-color:lightgrey;
      }
      .link {
        text-decoration: none;
      }
      .logo-title {
        width: 25rem;
      }

      @media (max-width: 600px) {
        .content-container {
          width: 95%;
        }
        .footer-container {
          width: 95%;
          text-align: center;
        }
        .footer-link-container {
          text-align: center;
          display: auto;
          float: none;
        }
        .footer-logo {
          padding-left: 3.5rem;
        }
      }
      @media (max-width: 363px) {
        .footer-logo {
          padding-left: 2.5rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        <img src="https://s3-eu-west-1.amazonaws.com/engine-hosted/verify.jpg" class="logo-title" />
        <br />
        <br />
        <div class="horizontal-divider"></div>
        <br />
        <br />
        <div class="greeting">Hi <%= @first_name %>,</div>
        <br />
        <br />
        <div class="content-text">A quick step to ensure your security:</div>
        <br />
        <br />
        <div class="center">
          <a class="link auto-margin" href="<%= @url %>">
            <div class="button" style="">VERIFY MY EMAIL</div>
          </a>
        </div>
        <br />
        <br />
        <div class="content-text">Then start adding to your new Engine profile...</div>
        <br />
        <br />
        <div class="horizontal-divider"></div>
        <br />
        <br />
        <div class="goodbye">Glad you could join us!</div>
      </div>
      <div class="footer-container">
        <img src="https://s3-eu-west-1.amazonaws.com/engine-hosted/footer-logo.png" class="footer-logo" />
        <div class="footer-link-container">
          <a href="mailto:info@teamengine.co.uk" class="footer-link">contact</a>
          <div class="footer-link-spacer"></div>
          <a href="https://engineplans.formstack.com/forms/enginesupport" target="_blank" title="help"  class="footer-link">help</a>
          <div class="footer-link-spacer"></div>
          <a href="https://karmaradio.herokuapp.com/terms" title="Terms"  class="footer-link">terms</a>
          <div class="footer-link-spacer"></div>
          <a href="https://karmaradio.herokuapp.com/privacy" title="Privacy"  class="footer-link">privacy</a>
        </div>
      </div>
    </div>
  </body>
</html>
