<div class=" mt6 center">

  <%= link "Back", to: startpack_path(@conn, :index) %>

  <h1 class="f1 mv4 fw5">Edit user</h1>

  <%= render "form.html", changeset: @changeset,
                          action: user_path(@conn, :update, @user),
                          button_text: "Update Details"
                          %>
</div>
