<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Karma!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body class="k-bg-lighter-grey k-indigo mb4">
    <header class="h4 bb k-bg-dark-indigo pl2 pr2">
      <nav role="navigation" class="app-container center">
        <ul class="mv4 pl0 mb0 nested-list-reset ol fl">
          <%= if @current_user do %>
          <a href="/">
            <img src="/images/logo-white-big.png" class="w3"  />
          </a>
          <a><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" id="hamburger" /></a>
          <% end %>
        </ul>
        <ul class="mv4 pl0 mb0 nested-list-reset ol fr white"  id="list">
          <%= if @current_user do %>
          <%= link "Startpack", to: startpack_path(@conn, :index), class: "back-button link hover-purple pa3 white " %>
          <%= link "My profile", to: user_path(@conn, :show, @current_user), class: "back-button hover-purple link pa3 white" %>
          <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "back-button hover-purple link pa3 k-lh-3 white" %>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="app-container center bg-white">
      <p class="alert pa4 br2 mt0 dark-grey bg-light-green b--dark-green" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert pa4 br2 mt0 mb4 white bg-light-red b--red" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="pa4 bg-white">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.hamburgerAnimate()</script>

  </body>
</html>
