<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1>Hello!</h1>
    <%= render @view_module, @view_template, assigns %>
    <h2>- The Team.</h2>
  </body>
</html>
