<h2>Edit offer</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_offer_path(@conn, :update, @offer.project_id, @offer) %>

<%= link "Back", to: project_offer_path(@conn, :index, @offer.project_id) %>
