<%= link "Back", to: project_path(@conn, :show, @project) %>

<h2>Edit project</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_path(@conn, :update, @project),
                        button_text: "Edit" %>
