<div class="ph3 ph6-ns mt6 center">

  <%= link "Back to dashboard", to: dashboard_path(@conn, :index), class: "link" %>

  <h1 class="k-indigo top--header absolute fw4 mb0">Create project</h1>

  <%= render "form.html", changeset: @changeset,
                          action: project_path(@conn, :create),
                          button_text: "Create"
                          %>
</div>
