<a href="<%= assigns[:link] %>" class="outline-0 no-underline k-button-no-underline no-outline-focus">
  <div class="tc">
    <div class="mb4">
      <div class="ttu k-bg-light-indigo ba k-b--light-indigo pa3 pl4 pr4 k-f2-5 br2 white k-w6 mt3 outline-0 k-m-auto lato button-active"><%= assigns[:title] %></div>
    </div>
  </div>
</a>
