<li class="pt2 f4">
  <strong><%= assigns[:label] || assigns[:atom] %>:</strong>
  <%= assigns[:data] %>
</li>

<!--
assigns:
label, (optional label override atom to string)
data, (eg project)
atom, (value column name)
-->
