<div class="mb3">
  <%= label assigns[:form], assigns[:atom], class: " fw4" %>
  <div class="k-bg-input b-h3 pt3 k-date-select pl3 br3">
    <%= date_select assigns[:form],
    assigns[:atom],
    class: "form-control w-100 k-bg-input bn",
    default: Date.utc_today(),
    builder: fn b -> %>
      <%= b.(:day, []) %> / <%= b.(:month, []) %> / <%= b.(:year, []) %>
    <% end %>
  </div>
  <%= error_tag assigns[:form], assigns[:atom] %>
</div>


<!--
assigns:
atom,
form
 -->
