<div class="form-group">
  <%= label assigns[:form], assigns[:atom], class: "control-label fw4" %>
  <%= select assigns[:form], assigns[:atom], assigns[:options], prompt: assigns[:prompt], class: "w-100 bn k-bg-input pa3 k-h3 outline-0" %>
  <%= error_tag assigns[:form], assigns[:atom] %>
</div>

<!--
assigns:
form,
atom,
options,
prompt
-->
