<div class="form-group">

  <%= label assigns[:form], assigns[:atom], class: "control-label" %>
  <%= if assigns[:image_url] do %>
    <a href=<%= assigns[:image_url] %>>
      <img src=<%= assigns[:image_url] %> class="h5 ml2 db"/>
    </a>
    <%= file_input assigns[:form], assigns[:atom], class: "form-control" %>
   <% end %>
  <%= error_tag assigns[:form], assigns[:url] %>
</div>

<!--
atom
url
-->
