<h1>Your email address is still not verified, click the button below to re-send your verification email</h1>

<%= link "Re-send Verification Email", to: verification_path(@conn, :resend, @hash), class: "back-button link" %> 
