
html {
font-size: 10px;
font-family:sans-serif;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin:0
}

.k-button-no-underline:hover {
  text-decoration: none;
}

.k-date-select select {
  background-color: #E9EAEB;
  border: none;
  outline: 0;
}

.k-ftitle {
  font-size: 7rem;
}


.k-h1px {
  height: 1px;
}

.k-h3-5r {
  height: 3.5rem;
}

/*backgrounds*/
.k-bg-indigo {
  background-color: #3f51b5;
}

.k-bg-dark-indigo {
  background-color: #002984;
}

.k-bg-light-indigo {
  background-color: #757de8;
}

.k-bg-grey {
  background-color: #9e9e9e;
}

.k-bg-dark-grey {
  background-color: #707070;
}

.k-bg-input {
  background-color: #E9EAEB;
}

.k-bg-light-grey {
  background-color: #cfcfcf;
}


/*borders*/

.k-b-indigo {
  border-color: #3f51b5;
}

.k-b-dark-indigo {
  border-color: #002984;
}

.k-b-light-indigo {
  border-color: #757de8;
}

.k-b-grey {
  border-color: #eeeeee;
}


.k-f2-5 {
  font-size: 2rem;
}

.b-h3 {
  height: 4rem;
}

.karma-input {

}

.karma-input::after {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom: 3px solid #707070;
}

.k-indigo {
  color: #3f51b5;
}

.k-dark-indigo {
  color: #002984;
}

.k-light-indigo {
  color: #757de8;
}

.k-grey {
  color: #9e9e9e;
}

.k-dark-grey {
  color: #707070;
}

.k-light-grey {
  color: #cfcfcf;
}

.k-lh-3 {
  line-height: 3;
}

.k-left-0-5 {
  left: 0.5rem
}

.k-m-auto {
  margin: 0 auto;
}

.k-mb0-5r {
  margin-bottom: 0.5rem;
}

/* 4-5 =~ 4.5 because it's between 4 and 5 in tachyons*/
.k-pl4-5 {
  padding-left: 3rem;
}

.k-top-2-5 {
  top: 2.5rem;
}

.k-shadow-1 {
  box-shadow: 2px 2px 5px #888888;
}

.k-w4-5 {
  width: 10rem;
}

.k-w6 {
  width: 24rem;
}

.k-w1px {
  width: 1px;
}

input[type=checkbox] {
  width: 2rem;
}

.link {
  color: #337ab7;
}

select {
  color: #3f51b5;
}

.alert:empty {
  display: none;
}

.help-block {
  text-transform: capitalize;
  color: #757de8;
}

.arrow {
  right: 50%;
  margin-right: -16px;
  top: -4rem;
}
