
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display:block
}

audio,canvas,progress,video {
  display:inline-block;
  vertical-align:baseline
}

audio:not([controls]) {
  display:none;
  height:0
  }

[hidden],template {
  display:none
}

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}
