

 html {
   font-family:sans-serif;
   -webkit-text-size-adjust:100%;
   -ms-text-size-adjust:100%
}

body {
  margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display:block
}

audio,canvas,progress,video {
  display:inline-block;
  vertical-align:baseline
}

audio:not([controls]) {
  display:none;
  height:0
  }

[hidden],template {
  display:none
}

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
