<h2>New document</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_document_path(@conn, :create, @project) %>

<%= link "Back", to: project_document_path(@conn, :index, @project) %>
