<h1 class="k-indigo top--header absolute fw4 mb0">Admin dashboard</h1>
<div class="pt4 tc k-m-auto">
  <%= component "admin_dashboard_tile.html",
    link: admin_dashboard_path(@conn, :custom_fields),
    title: "Custom fields",
    subtitle: "Click here to view all custom fields"
  %>
  <%= component "admin_dashboard_tile.html",
    link: admin_dashboard_path(@conn, :users),
    title: "Users",
    subtitle: "Click here to view all users"
  %>
</div>
